@{
    ViewBag.Title = "About";
}
<div class="container">
    <h3>Overview</h3>
    <p>
        LegalDB application's primary function is to facilitate the advertising, call tracking, client tracking and business analysis of Amourgis & Associates.
        This is accomplished via automated web scrapers, along with a secure Web Portal to allow the data entry, processing, correction and reporting.
        The Web Portal should also allow designated users to interact with the application and report requests, problems and accomplishments to various authorities.
    </p>
    <br />
    <h3>Objectives</h3>
    <p>
        The objective of the LegalDB application is to provide Amourgis & Associates with a quality, intuitive, comprehensive solution to the business needs in a sustainable model.
    </p>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>Advertising</h2>
            <p>
                LegalDB
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Call Tracking</h2>
            <p>NuGet</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Client Tracking</h2>
            <p>You</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>System Manager</h2>
            <p>You</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>You</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Alerts</h2>
            <p>You</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>