@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#GeneralITcollapse">General IT</a>
                </h4>
            </div>
            <div id="GeneralITcollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>CTMS</h5>
                    <h6><span class="glyphicon glyphicon-earphone">&nbsp;(330)541-2834</span></h6>
                    <h6><span class="glyphicon glyphicon-envelope">&nbsp;helpdesk@ctmsohio.com</span></h6>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#LegalDBcollapse">LegalDB or Other IT Related</a>
                </h4>
            </div>
            <div id="LegalDBcollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>Chester</h5>
                    <h6><span class="glyphicon glyphicon-earphone">&nbsp;3205</span></h6>
                    <h6><span class="glyphicon glyphicon-envelope">&nbsp;chester@amourgis.com</span></h6>
                    <br />
                    <h5>Tracy</h5>
                    <h6><span class="glyphicon glyphicon-earphone">&nbsp;3223</span></h6>
                    <h6><span class="glyphicon glyphicon-envelope">&nbsp;tracyz@amourgis.com</span></h6>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Accountingcollapse">Accounting/HR/Admin</a>
                </h4>
            </div>
            <div id="Accountingcollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>Angela</h5>
                    <h6><span class="glyphicon glyphicon-earphone">&nbsp;3212</span></h6>
                    <h6><span class="glyphicon glyphicon-envelope">&nbsp;aparks@amourgis.com</span></h6>
                    <br />
                    <h5>Lisa</h5>
                    <h6><span class="glyphicon glyphicon-earphone">&nbsp;3226</span></h6>
                    <h6><span class="glyphicon glyphicon-envelope">&nbsp;lisal@amourgis.com</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>
